@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #2b59ff, #cc02ff);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio{
    align-items: center;
    background: transparent;
    height: 200px;
    width: 700px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0px 8px 10px black;
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 8px;
    box-shadow: 5px 5px 15px black;
    letter-spacing: 3px;
    gap: 20px;
}

#horarioFormat {
    color: white;
    font-size: 30px;
}

.relogio span{
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo{
    font-size: 15px;
}

.relogio div:hover {
    transform: scale(1.1);
    transition: 0.9s;
}

@media screen and (max-width: 414px) {
    .relogio{
        height: 150px;
        width: 390px;
        gap: 10px;
        padding: 2px;
    }
                
    .relogio div {
        height: 110px;
        width: 300px;
    }
                
    #horarioFormat {
        color: white;
        font-size: 14px;
    }

    .relogio span {
        font-weight: bolder;
        font-size: 40px;
    }

    .relogio span.tempo {
        font-size: 14px;
    }
}

/* CALENDARIO */

.calendario {
    margin-top: 50px;
    display: flex;
    align-items: center;
    background: transparent;
    height: 200px;
    width: 700px;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0px 8px 10px black;
}

.calendario div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    border-radius: 8px;
    box-shadow: 5px 5px 15px black;
    letter-spacing: 3px;
    gap: 20px;
}

#dataFormat{
    color: white;
    font-size: 30px;
}

.calendario span {
    font-weight: bolder;
    font-size: 55px;
}

.calendario span.data {
    font-size: 15px;
}

.calendario div:hover{
    transform: scale(1.1);
    transition: 0.9s;
}

@media screen and (max-width: 414px) {
    .calendario {
        height: 150px;
        width: 390px;
        gap: 10px;
        padding: 2px;
    }

    .calendario div {
        height: 110px;
        width: 300px;
    }

    #dataFormat {
        color: white;
        font-size: 14px;
    }

    .calendario span {
        font-weight: bolder;
        font-size: 35px;
    }

    .calendario span.tempo {
        font-size: 10px;
    }
}


